.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 1rem;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

.section-header__title {
    font-size: 2.2rem;
    text-transform: capitalize;
}

.section-header__title strong {
    font-weight: inherit;
    color: var(--color-com);
}

.section-header__desc {
    max-width: 25rem;
    font-size: 0.9rem;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--color-dom);
    background-color: var(--color-lgh);
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    padding: 0.7rem 3rem;
    color: var(--color-lgh);
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--color-com);
    border-radius: 0.5rem;
    border: none;
}

@media screen and (min-width: 1024px) {
    .section {
        padding: 4rem 15dvw;
    }

    .cta-container {
        width: initial;
    }
}